# dependencies
/node_modules
/.pnp
.pnp.js

# misc
.DS_Store
*.pem
dist

# debug
npm-debug.log*
.pnpm-debug.log*

# non-local env files
.env
!.env*.example

# typescript
*.tsbuildinfo
next-env.d.ts
/test-results/
/playwright-report/
/playwright/.cache/
